* {
  box-sizing: border-box;
}

body {
  text-align: center;
}

table {
  margin: auto;
}

#sizeText {
  font-family: Verdana;
  color: SlateGrey;
}

td {
  background-color: LightGrey;
  width: 30px;
  height: 30px;
}

.live {
  background-color: Red;
}

.dead {
  background-color: LightGrey;
}

button {
  display: inline;
}

#left {
  !important text-align: left;
}
